/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'raleway';
    font-style: italic;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/raleway-v22-latin-regular.woff2) format('woff2');
}



@layer components {
    .lightBoxPink {
        border: 0.2px solid #ED9CCF;
        border-radius: 0.4rem;
        box-shadow: 0 0 .2rem #fff,
        0 0 .1rem #fff,
        0 0 1rem #F00699,
        0 0 0.5rem #FB37FF,
        0 0 0.1rem #F00699,
        inset 0 0 1.5rem #FB37FF;
    }

    .lightBoxPinkShop {
        border: 4px solid #ED9CCF;
        border-radius: 10px;
        box-shadow: 0 0 .2rem #fff,
        0 0 .1rem #fff,
        0 0 2rem #F00699,
        0 0 1rem #FB37FF,
        0 0 1rem #F00699,
        inset 0 0 1.5rem #FB37FF;
    }
    .lightBoxGreen {
        border: 4px solid #80FFEC;
        box-sizing: border-box;
        box-shadow: 0px 4px 30px #34EEFF, 0px 0px 20px #34EEFF, 0px 0px 50px rgba(128, 255, 236, 0.54);
        height: 79px;
        width: 269px;
        left: 586px;
        top: 613px;
        border-radius: 10px;

    }










}









