/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: 'raleway';
    font-style: italic;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/raleway-v22-latin-regular.woff2) format('woff2');
}



@layer components {
    .lightBox {
        border: 0.2px solid #ED9CCF;
        border-radius: 0.4rem;
        box-shadow: 0 0 .2rem #fff,
        0 0 .1rem #fff,
        0 0 1rem #F00699,
        0 0 0.5rem #FB37FF,
        0 0 0.1rem #F00699,
        inset 0 0 1.5rem #FB37FF;
    }





}









